<style>
    :root {
        --base-font-family: "Inter", sans-serif;
        --code-font-family: "Jetbrains Mono";
        --article-font-family: "Rubik", var(--base-font-family);
    }
    </style>
    
    <script>
        (function () {
            const customFonts = document.createElement('link');
            customFonts.href = "https://fonts.changelog.awesomebible.de/awesomebible.css";
        
            customFonts.type = "text/css";
            customFonts.rel = "stylesheet";
        
            document.head.appendChild(customFonts);
        }());
    </script>